<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <style>
            header {
                background-image: url('https://images.pexels.com/photos/7289/animal-dog-pet-sad.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
                background-position: center center;
                background-size: cover;
                color: white;
                font-size: 8rem;
                text-align: center;
                height: 300px;
                line-height: 300px;
            }
            </style>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header style="">
            My shop
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
